@import "../../consts/consts.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonContainer {
    display: flex;
}

.button {
    border: 1px solid $borderColorLight;
    background-color: transparent;
    padding: .5em 1em;
    font-size: 3em;
    margin: 0.1em;
    transition: .2s;
    cursor: pointer;

    &:hover {
        background-color: $borderColorLight;
    }

    &.wrong {
        background-color: $dangerColor;
        color: #fff;
    }
    &.correct {
        background-color: $successColor;
        color: #fff;
    }
}
