@import "../../consts/consts.scss";

.container {
    flex: 1;
    padding: 2rem 1rem;
    box-shadow: $dropShadowDarker;
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    transition: .2s;
    z-index: $zIndexSidebar;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
}

.playerCount {
    font-size: 2em;
}
